---

---

<section>
    <h1>Transformamos tus conceptos en experiencias digitales.</h1>
    <img src="/heroinicio.webp" alt="imagen del hero principal codigo web" title="imagen del hero principal">
</section>

<style>
    section {
        width: 100%;
        padding-top: 9rem;
        padding-right: 0rem;
        align-items: end;
        background-color: var(--color_primario);
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    h1 {
        text-shadow: var(--text-shadow);
        color: var(--color_cuarto);
        font-size: 2.2rem;
        text-align: center;
    }
    img {
        margin: 3rem 0;
        width: 80vw;
    }
    @media (max-width: 280px) {
        h1 {
            font-size: 1.4rem;
        }
    }
@media (min-width: 576px) {
    section {
        width: 100%;
        padding: 3rem 1.9rem;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section {
        width: 100%;
        padding: 3rem 1.9rem;
    }
}


@media (min-width: 1200px) {
    section {
        align-items: center;
        width: 100%;
        padding-left: 5rem;
        padding-top: 9rem;
        padding-right: 0;
        flex-direction: row;
    }
    h1 {
        font-size: 3.3rem;
    }
    img {
        margin: 0 0;
        width: 40vw;
    }

}
</style>