<section>
    <h1>Transformamos tus conceptos en experiencias digitales.</h1>
    <img src="/heroinicio.webp" alt="imagen del hero principal codigo web" title="imagen del hero principal">
</section>

<style>
        section {
        background-color: var(--color_primario);
        display: flex;
        flex-direction: column;
        padding: 9rem 0;
        gap: 2rem;
        align-items:flex-end;
    }
    section img {
        width: 100vw;
        filter: drop-shadow(var(--sombra_caja));
    }
   
    h1{
        padding: 2rem;
        font-size: 2.4rem;
        color: var(--color_cuarto);
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.4rem;
        color:var(--color_cuarto) ;
    }
@media (max-width: 280px) {
  
}
@media (min-width: 576px) {
    section {
        width: 100%;
        padding: 3rem 0;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}
@media (min-width: 1200px) {
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color_primario);
        padding: 9rem  0;
        gap: 0;
    }
    section img {
        width: 40vw;
        filter: drop-shadow(var(--sombra_caja));
    }
    
    h1{
        padding:0 4rem;
        font-size: 3rem;
        margin-bottom: 0;
    }
}
</style>

