---
import { ICONS } from '@/icons/icons.astro';

interface Props {
    iconName:string;
    subtitle:string;
    description:string,
    p_class?:string
}

const { iconName, subtitle, description, p_class} = Astro.props;
const Icon = ICONS[iconName]

---
<article class="card">
    <div class="card_icon" >
         <Icon/> 
    </div>
    <div class="card_content">
        <h3>{subtitle}</h3>
        <p class={p_class ? 'salto_linea' : null}>{description}</p>
    </div>
</article>


<style>
   .card {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: var(--border-style);
    box-shadow: var(--sombra_caja);
    border-radius: var( --border-radius);
    background-color: var(--color_terciario);
    padding: 1.4rem;
    gap: 1rem;
}
.card .card_icon {
    width: 100px;
    height: 100px;
    background-color: var(--color_primario);
    border-radius: 50%;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
  
}
.card .card_content {
    text-align: center;
    color: var(--color_primario);
}

.card:hover {
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px rgba(0, 0, 0, 0.256);
      background-color: var(--color_primario);
      border: 2px solid whitesmoke;
      border-radius: var( --border-radius)
}
.card:hover .card_icon {
      background-color: var(--color_secundario);
  }
  
  .card:hover .card_content {
      color: var(--color_terciario);
  } 
.salto_linea {
    white-space: pre;
}
@media (max-width: 280px) {

}
@media (max-width: 576px) {
.card {
    min-width: 90%;
    scroll-snap-align: start;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card:hover {
    
    transform: translateY(-25px) scale(1.025) translateZ(0);
    
  }
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px;
      background-color: var(--color_primario);
  }
  
  
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.card {
    width: 100%;
}
}
</style>