---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro';
import CardBackground from '../components/CardBackground.astro';
import CTA from '../components/CTA.astro';
import Waves from '../components/Waves.astro';
---
<Layout title='Nosotros - Proyexapp'>
  <Navbar/>
  <Waves/>
  <main>
    404
  </main>


  <Footer/>
</Layout>

<style>



	main {
		margin: 0 auto;
		text-align: center;
        min-height: 100vh;
	}
	
	/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
main {background-color: whitesmoke;
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	main {
		padding:40px 50px;
		width: 100%;
		margin: 0 auto;
		
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main {
		padding:40px 70px;
		width: 100%;
		margin: 0 auto;
	}
	
}
</style>
