---
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";


---
<Hero 	
		titulo="Transformamos tus conceptos en experiencias digitales." 
		class="hero-inicio" 
		image={{url:"/heroinicio.webp",title:"Imagen del hero", alt:"Imagen del hero web"}}
	/>

<Section>
    <h1>404</h1>
</Section>