---
import Layout from '../layouts/Layout.astro';

---
<Layout title='Proyexapp' description='pagina no encontrada'>

  <main>
	<img src="/logoCompleto.png" alt="logo azul vertical">
    <h1>¡Oops! Página no encontrada."</h1>
	<a href="/">Volvamos al inicio.</a>
  </main>


</Layout>

<style>



	main {
		margin: 0 auto;
		text-align: center;
        min-height: 100vh;
		background-color: white
	}
	main img {
		width: 90vw;
	}
	h1 {
		color: var(--color2);
	}
	a {
		display: block;
		margin: 1rem 0;
		font-size: 1.4rem;
		color: var(--color2);
	}
	/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
main {;
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
	main img {
		width: 50vw;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	main {
		padding:40px 50px;
		width: 100%;
		margin: 0 auto;
		
	}
	main img {
		width: 30vw;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main {
		padding:40px 70px;
		width: 100%;
		margin: 0 auto;
	}
	
}
</style>
