---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro';
import Waves from '../components/Waves.astro';
---
<Layout 
	title='Proyexapp | contacto' 
	description='¿Listo para comenzar tu proyecto? Ponte en contacto con nosotros hoy mismo para discutir tus necesidades y objetivos. Estamos aquí para ayudarte a hacer realidad tu visión en línea."'
	>
  	<Navbar/>
  	<Waves/>
	<main>
		<section>
			<h1>Habla con nosotros</h1>
			<p>Nos complace hablar con usted sobre negocios en línea. Contáctenos y díganos qué podemos hacer por usted.</p>
			<form action="">
				<div>
					<label for="subject">Nombre Completo</label>
					<input type="text" placeholder="Nombre completo" required>
				</div>
				<div>
					<label for="email">Email</label>
					<input type="email"  placeholder="name@correo.com" required>
				</div>
				<div>
					<label for="subject">Telefono</label>
					<input type="tel"   placeholder="(Código de área) Número" required>
				</div>
				<div class="sm">
					<label for="message">Escribenos</label>
					<textarea id="message" rows="7"   placeholder="Escribenos..."></textarea>
				</div>
				<button type="submit">Enviar mensaje</button>
			</form>
		</section>
	</main>
  <Footer/>
</Layout>

<style>



	main {
		display: flex;
		min-height: 50vh;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}
	section { 
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}
section h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    color:var(--color2);
}
section p {
    font-size: 1.2rem;
    margin: 1.1em 0;
}
section form {
	margin: 2rem 0;
}

section form div label {
	text-align: left;
display: block; 
margin-bottom: 0.5rem; 
margin-top: 1rem;
font-size: 1.3rem;
line-height: 1.25rem; 
color: var(--color2); 
}

section form div input {
	display: block; 
	padding: 1rem; 
	border-radius: 0.5rem; 
	border:1px solid #D1D5DB; 
	width: 100%; 
	font-size:1rem;
	line-height: 1.25rem; 
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}

section form .sm textarea {
	display: block; 
	padding: 0.625rem; 
	border-radius: 0.5rem; 
	border:1px solid #D1D5DB; 
	width: 100%; 
	font-size: 1rem;
	line-height: 1.25rem; 
	background-color: #F9FAFB; 
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
	resize: none;
}

section form button {
margin-top: .8rem;
display:flex;
justify-content: flex-start;
padding-top: 0.75rem;
padding-bottom: 0.75rem; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
border-radius: 0.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
text-align: center; 
border: 0;
background-color: var(--color2);
color: #ffffff; 
cursor: pointer;
}

@media (max-width: 320px) { 
	main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	section h1 {
        font-size: 1.5rem;
    }
}

	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
main {background-color: whitesmoke;
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	main {
		padding:0 30px;
		width: 100%;
		margin: 0 auto;
	
	}
	
	section {
		margin-top: 3rem;
		margin-bottom: 5rem;
	}
	
	section h1 {
        font-size: 1.8rem;
    }
    section p {
        font-size: 1.3rem;
    }
	section form {
	margin-bottom: 3rem ;
}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	main {
		padding:40px 50px;
		width: 100%;
		margin: 0 auto;
		
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main {
		padding:20px 70px;
		width: 100%;
		margin: 0 auto;
	}
	section {
		margin-top: 0;
        padding: 0 4rem;
    }
	section h1 {
        font-size: 2.2rem;
    }
    section p {
        font-size: 1.4rem;
    }
	
}
</style>
