---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import CardBackground from '../components/CardBackground.astro';
import Faq from '../components/Faq.astro'
import Footer from '../components/Footer.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Proyexapp">
	<Navbar/>
	<Hero title='Transformamos tus conceptos en experiencias digitales.'/>
	<main>
		<Section 
		className="card" 
		card_className="card_content"
		title='¿ Porque es importante tener una pagina web ?' 
		text='¡según muchos estudios, las empresas y las personas que ingresan al mundo digital obtienen mejores resultados!',
		card={
		[
			{
				number:"+91%",
				text:"Visitas"
			},
			{
				number:"+40%",
				text:"Clientes"
			},
			{
				number:"+84%",
				text:"Credibilidad"
			}
		]}
		/>
		<Section 
		className="card" 
		card_className="card_content"
		title='¿ Que Tipo De Pagina Web Necesito ?' 
		text='No te preocupes en PROYEXAPP entendemos tus necesidades de esta manera sabremos asesorarte para determinar cual se acoge mas a tus necesidades.',
		card={[]}
		/>
		<Section
		className="card_content_" 
		card_className="card_content_box"
		title='¿ Porque proyexapp ?' 
		text='',
		card={[
				{
				number:"Enfocados en la atención al cliente",
				text:"Más que código, Buscamos comprender y ayudar a nuestros clientes a alcanzar sus objetivos"
			},
			{
				number:"Diseño UI/UX",
				text:"Creamos sitios que cumplen tus necesidades con diseños modernos, minimalistas  y  con una buena experiencia al usuario ."
			},
			{
				number:"Estandar  de calidad",
				text:"Generamos sitios de código limpio y apegados a los estándares de calidad de la W3C (World Wide Web Consortium)."
			}
		]}
		/>
	
	</main>
	<CardBackground title='¿ Cómo Trabajamos ?' fondo='fondo' informacion={[
		{
		imagen:[{url:"/paso1.webp",descripcion:"paso1"}],
		subtitulo:"Paso 1",
		texto:"Nos reunimos con el cliente y escuchamos sus requerimientos y necesidades, le asesoramos y decidimos juntos el tipo de pagina a desarrollar, definimos el valor del trabajo.",
		clase:"flex"
		},
		{
		imagen:[{url:"/paso2.webp",descripcion:"paso2"}],
		subtitulo:"Paso 2",
		texto:"Procedemos a diseñar el WIREFRAME y MOCKUP de cómo se vera el sito web, balándonos en el UI/UX para garantizar paginas modernas, llamativas y que cumplan con los requerimientos del cliente.",
		clase:"flex flex-reverse"
    	},
		{
		imagen:[{url:"/paso3.webp",descripcion:"paso3"}],
		subtitulo:"Paso 3",
		texto:"Después que el diseño sea aprobado por el cliente se pasa a la etapa de desarrollo donde nos encargaremos de hacer tu pagina responsive y que este en internet en los tiempos pactados.",
		clase:"flex"
		}]}/>
	<Faq title='Explora las preguntas frecuentes' preguntaYrespuesta={[{
		pregunta:'¿ Que es diseño responsive ?',
		respuesta:'El diseño responsive es que tu sitio web sea compatible y se vea bien en todos los dispositivos móviles.'
	},
	{
		pregunta:'¿ Que es UX en diseño web?',
		respuesta:''
	},
	{
		pregunta:'¿ Que es UI en diseño web?',
		respuesta:''
	},
	{
		pregunta:'¿ Cómo se empieza un trabajo y que garantías tiene ?',
		respuesta:''
	}]}/>
	<CTA/>
	<Footer/>

</Layout>

<style>
	main {
		margin: 0 auto;
		text-align: center;
	}
	
	/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	main {
		padding:40px 50px;
		width: 100%;
		margin: 0 auto;
		
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main {
		padding:40px 70px;
		width: 100%;
		margin: 0 auto;
	}
	
}


</style>
