---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro';
import CTA from '../components/CTA.astro';
import Waves from '../components/Waves.astro';
---
<Layout 
	title='proyexapp | nosotros'
	description='Conoce al equipo detrás de proyexapp. Nuestra pasión es crear experiencias digitales excepcionales que hagan brillar a tu marca en línea. Descubre quiénes somos y cómo podemos ayudarte.'
	keywords='Equipo de diseño web, Expertos en desarrollo web, Pasión por la creatividad digital, Compromiso con la excelencia, Soluciones personalizada'>
  <Navbar/>
  <Waves/>
  <main>
	<section>
		<h1>Nosotros</h1>
		<p>En <span>PROYEXAPP</span>, somos un equipo apasionado de diseñadores, desarrolladores y estrategas digitales dedicados a hacer que tu presencia en línea destaque en un mundo digital en constante evolución.</p>
		<p>Con años de experiencia en la industria y un enfoque centrado en el cliente, estamos aquí para llevar tus ideas al siguiente nivel y ayudarte a alcanzar tus objetivos en línea.</p>
	</section>
	<section class="text">
		<h2>Nuestra Misión</h2>
		<p>ayudarte a construir una presencia en línea que haga que tu marca brille. Creemos en el poder de la creatividad, la innovación y la colaboración para crear experiencias web únicas y memorables que cautiven a tu audiencia y generen resultados tangibles para tu negocio.</p>
	</section>
	<section class="text">
	<h2>Nuestro Enfoque</h2>
	<p>enfoque centrado en el cliente y nuestra dedicación a la calidad y la innovación. Trabajamos estrechamente contigo en cada paso del proceso, desde la consultoría inicial hasta el lanzamiento y más allá, para garantizar que tus necesidades y objetivos estén siempre en el centro de todo lo que hacemos.</p>
	</section>
	<section class="text">
		<h2>¡Únete a Nosotros en el Viaje Digital!</h2>
		<p>Ya sea que estés lanzando un nuevo negocio o buscando revitalizar tu presencia en línea existente, en <span>PROYEXAPP</span> estamos aquí para ayudarte a alcanzar tus metas digitales. ¡Únete a nosotros en el emocionante viaje digital y descubre lo que podemos lograr juntos!</p>
	</section>
  </main>

    <CTA/>
  <Footer/>
</Layout>

<style>



	main {
		margin: 0 auto;
		text-align: center;
	}
	section { 
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}
section h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    color:var(--color2);
}
section p {
    font-size: 1.2rem;
    margin: 1.1em 0;
}
span {
	font-weight:bolder;
	color: var(--color2);
}
.text h2 {
	text-align: left;
	font-size: 1.6rem;
	color:var(--color2);
}
.text p {
	text-align:left;
	text-wrap: wrap;
}	


@media (max-width: 320px) { 
    section h1 {
        font-size: 1.5rem;
    }
	section h2 {
		font-size: 1.4rem;
	}
}
	/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main {
		padding:40px 30px;
		width: 100%;
		margin: 0 auto;
	}
	section h1 {
        font-size: 1.8rem;
    }
	section h2 {
		font-size: 1.7rem;
	}
    section p {
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	main {
		padding:40px 50px;
		width: 100%;
		margin: 0 auto;
		
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main {
		padding:40px 70px;
		width: 100%;
		margin: 0 auto;
	}
	section h1 {
        font-size: 2.2rem;
    }
	section h2 {
		font-size: 1.9rem;
	}
    section p {
        font-size: 1.4rem;
    }
}
</style>
