---
interface preguntaYrespuesta {
    pregunta:string,
    respuesta:string
}

interface Props {
    preguntaYrespuesta:Array<preguntaYrespuesta>,
}

const { preguntaYrespuesta } = Astro.props;
---
  <article>
        {
            preguntaYrespuesta?.map(({pregunta,respuesta}) => (
            <div class="pregunta">{pregunta}</div>
            <div class="respuesta">
                 <p>{respuesta}</p>
            </div>
            )) 
            
        }
  </article>

<script>
 const preguntas: HTMLCollectionOf<Element> = document.getElementsByClassName("pregunta");

for (let i = 0; i < preguntas.length; i++) {
  preguntas[i].addEventListener("click", alternar);
}

function alternar(this: HTMLElement): void {
  /*
  - Alternar entre agregar y eliminar la clase "activa",
  - para resaltar el botón que controla la pregunta
  */
  this.classList.toggle("activo");

  // Alternar entre ocultar y mostrar la pregunta activa
  let respuesta = this.nextElementSibling as HTMLElement;
  if (respuesta.style.maxHeight) {
    respuesta.style.maxHeight = '';
    respuesta.classList.remove("active-respuesta")
  } else {
    respuesta.style.maxHeight = respuesta.scrollHeight + "px";
    respuesta.classList.add("active-respuesta")
  }
}
</script>
<style>

  article {
    margin: 3rem 0;
  }
.pregunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--color_primario);
    font-size: 1.3rem;
    padding: 20px;
    width: 100%;
    border-radius:var(--border-radius);
    background-color: white;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin: .3rem 0;
    box-shadow:var(--sombra_caja_2);
    cursor: pointer;
}
.activo, .pregunta:hover {
  background-color:var(--color_primario) ;
  color: var(--color_cuarto);
}

.pregunta:hover:after {
    content: '+';
    font-size: 2.3rem;
    color: var(--color_cuarto);
}
.pregunta:after {
    content: '+'; /* para signo (+) */
    font-size: 2.3rem;
    color: var(--color_primario);
  }
  
  .activo:after {
    content: '-'; /*  para signo (-) */
    font-size: 2.3rem;
    color: var(--color_cuarto);
  }
  .activo:hover:after {
    content: '-'; /*  para signo (-) */
    font-size: 2.3rem;
    color: var(--color_cuarto);
}
  .respuesta {
    width: 100%;
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.active-respuesta {
  margin: 1rem 0;
  border-radius:var(--border-radius);
  box-shadow:var(--sombra_caja_2)
}
.respuesta p {
  text-wrap: pretty;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


</style>
