---
const url_path = Astro.url.pathname.split("/")[1]
---
<header>
    <nav>
        <span class='nav-bar'>
            <span class='logo'><a href='/'><img src="/logoblanco.webp" width="180" alt="logo horizontal blanco proyexapp" title="logo horizontal blanco proyexapp"/></a></span>
            <input type='checkbox' id='check' />
            <ul class="menu">
                    <li><a class={url_path === 'servicios' ? 'active' : null} href="/servicios">Servicios</a></li>
                    <li><a class={url_path === 'contactanos' ? 'active' : null} href="/contactanos">Contáctanos</a></li>
                <label for="check" class="close-menu">
                    <div>
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </label>
            </ul>
            <label for="check" class="open-menu"><div class="navi">
                <div>
                 <div class="bar1"></div>
                 <div class="bar2"></div>
                 <div class="bar3"></div>
             </div>
            </label>
        </span>
    </nav>
    </header>
<script>
  document.addEventListener('scroll', () => {
    const header = document.querySelector('nav') as HTMLElement | null;
    if (window.scrollY > 500) {
        header?.classList.add('scrolled');
    } else {
        header?.classList.remove('scrolled');
    }
});


</script>
    <style>
   

nav {
    width: 100%;
    background-color: transparent;
    padding: 30px 80px;
    position: fixed;
    top: 0;
    z-index: 20;
   
}
.active {
    background-color: var(--color_secundario);
    color: black !important;
    padding:0.2rem 1rem;
    border-radius: var(--border-radius);
   }
.scrolled {
    position: fixed;
    top: 0;
    z-index: 20;
  background-color: var(--color_primario);
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo img {
    width: 180px;
    padding-left: 0;
}

.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color_cuarto);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.15s ease-in-out;
}
.menu li a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.15s ease-in-out;
}
/* Selecciona cualquier <a> que esté siendo activado */

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color:white;
  margin: 3px 0;
  transition: 0.4s;
}
.close-menu .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
  transform: rotate(-45deg) translate(-4.5px, 3px);
}
.close-menu .bar2 {
   opacity: 0;
}
.close-menu .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

#check {display: none;}

@keyframes blur {
    to {
        box-shadow: 0px 5px 50px 5px hsla(0, 0%, 100%, 0,1),
        0px 0px 0 1px hsla(0, 0%, 100%, 0,1);
        background: #0a2755;
        backdrop-filter: blur(100px);
    }
}
@media(max-width: 900px){
    nav {
        padding: 30px 50px;
    }
    .logo img {
        width: 160px;
    }
}

@media(max-width: 610px){
    nav {
        padding: 20px 32px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #0e2d5f;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
    </style>