---
import Section from "../../components/Section.astro";


---
<Section class="color_secundario">
    
    
</Section>

<style>
    @media (max-width: 280px) {
  
}
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}
@media (min-width: 1200px) {}
</style>