---
import '@fontsource/anta';
import '@fontsource/source-sans-pro/300.css';
import '@fontsource/source-sans-pro/400.css';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import SEO from '@/components/SEO/SEO.astro';

interface Props {
	title: string; //titulo de la pagina
  description:string, // descripción de la pagina
}
const { title,description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
    <SEO
      title={title}
      description={description}
    />
	</head>
	<body>
    <Navbar/>
    <main>
      <slot />
    </main>
    <Footer/>
	</body>
</html>
<style is:global>
 
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
main {
  background-color: var(--color_terciario);
}
  :root {
    /*--- Colors ----- */
    --color_primario:#0E2D5F; 
    --color_secundario:#CED7E4;
    --color_terciario:#F5F5F5;
    --color_cuarto:#FFFF; 
    --color_alert_fondo:#f8d7da;
    --color_alert:#ff0a1f;
    --color_success_fondo: #d1e7dd;
    --color_success:#0f5132;
    /*---  Shadows ---*/
    --sombra_caja:#00000029 0 1px 4px;
    --sombra_caja_2:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
    /*---- border --- */
    --border-radius: 0.7rem;
    --border-style: 2px solid var(--color_primario);

    /* --- text --- */
    --line_height:1.5;
    --height_paragraph:3

    /* --- margin --- */

    /* --- padding --- */

  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Anta', system-ui, sans-serif;
    font-weight: 400;
    line-height: var(--line_height);
    text-wrap:balance;
    text-transform: uppercase;
  }
  p,a,strong,span {
    font-family:"Source Sans Pro", system-ui, sans-serif ;
    line-height:var(--line_height);
    text-wrap:balance;
  }
  p,a {
    font-weight: 300;
  }
  strong,span {
    font-weight: 400;
  }
  /* clases generales */
  .truncated_simple_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .truncated_paragraph {
    overflow: hidden;
    -webkit-line-clamp: var(--height_paragraph) ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .btn {
        box-shadow:var(--sombra_caja_2) ;
        width: 100%;
        border: 0;
        border-radius:var(--border-radius) ;
        font-family:"Source Sans Pro", system-ui, sans-serif ; 
        text-transform: uppercase;
        padding: 14px 50px;
        cursor: pointer;
        text-align: center;
  }
  .btn_primary {
        background-color:var(--color_cuarto);
        color: var(--color_primario);
    }
    .btn_primary:hover {
      transition: 0.7s;
      outline:2px dashed var(--color_primario) ;
    }
 .btn_second {
        background-color:var(--color_primario);
        color: var(--color_terciario);
    }
/* ---- ANIMACIONES -------*/
  [data-animation="fade-right"] {
    opacity: 0;
    transform: translate(100%);
    transition: .6s ease-in .3s;

    --opacity:1
    transform:translate(0)
  }
  [data-animation="fade-left"] {
    opacity: 0;
    transform: translate(-100%);
    transition: .6s ease-in .3s;

    --opacity:1
    transform:translate(0)
  }

  [data-animation="scale-in"] {
    opacity: 1;
    transform: scale(0);
    transition: .6s ease-in .3s;

    --opacity:0
    transform:scale(1)
  }

  [data-animation="up"] {
    opacity: 1;
    transform: translateY(100%);
    transition: .6s ease-in .3s;

    --opacity:0
    transform:translateY(0)
  }

  .unset {
    opacity: var(--opacity);
    transform: var(--transform);
  }
</style>
