---
import Section from "../../components/Section.astro";


---

<Section class="color_primario">
    <h1>Habla con nosotros</h1>
</Section>

<style>
    h1 {
        text-align: center;
        font-size: 3rem;
        color: var(--color_cuarto);
    }
</style>